*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
   
}

:root {
    --main-boxshadow: 0 4px 6px rgba(52, 49, 49, 0.871);
    --second-boxshadow: 0 4px 6px #578EA6;
    --main-color: #578EA6 ;
    --white-shadow : 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.495);

}


@font-face {
    font-family: montserrat;
    src: url(MontserratBlack-3zOvZ.ttf);
}

/* header */
header{
    display: flex;
    align-items:center ;
    padding: 10px ;
    top: 0;
    font-family: montserrat;
    width: 100%;
    justify-content: space-between;
}
.logo-container{
    margin-left: 50px;
}
.logo {
    margin:0 ;
}
.menu-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-menu{
    list-style: none;
    font-style: bold;
    gap: 50px;
    margin: 0 auto;
}
ul li{
padding: 10px;
display: inline;
text-align: center;
}

.nav-menu a {
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    transition: color 0.3s ease, transform 0.3s ease;
    display:inline-block ;
}

.nav-menu a:hover {
    color: var(--main-color);
    transform: scale(1.3);
}

.icons{
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

/*hero-section*/

.hero-section{
    display: flex;
    align-items: center;
    background: url(images/serious-young-sportsman-drinking-water.jpg) no-repeat center center/cover;
    min-height: 900px;
    color: white;
    padding: 50px 20px;
    position: relative;

}

.hero-content {
    position: absolute;
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-left: 90px;

}

.hero-content pre{
    font-size: 20px;
    margin-top: 40px;
}


.getstarted-btn{
    height: 50px;
    width: 120px;
    margin-top: 40px;
    border-radius: 30px;
    background-color: black;
    color: white;
    text-shadow: var(--white-shadow);
    box-shadow: 0 4px 6px rgba(52, 49, 49, 0.51);
    font-size: 18px;
    transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease, font-size 0.5s ease, transform 0.5s ease;

}
.getstarted-btn:hover{
    background-color: var(--main-color) ;
    box-shadow: var(--second-boxshadow);
    width: 160px;
    height: 60px;
    font-size: 20px ;
    transform: translateY(-20px);
}


.hero-slider{
    display: flex;
    position: absolute;
    width: 70%;
    top: 80%;
    justify-content: space-evenly;
    left: 15%;
}


.slider-item{
   width: 400px; 
    height: 400px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.slider-item img{
    width: 410px;
    height:350px;
}

.slider-item button{
    display: flex;
    position: relative;
    bottom: 120px;   
    align-items: center;
    justify-content: center;
}

.shop-btn{
    height: 60px;
    width: 150px;
    border-radius: 30px;
    background-color: rgb(255, 249, 249);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black;
    box-shadow: 0 4px 6px rgba(52, 49, 49, 0.51);
    font-size: 20px;
    transition: width 0.5s ease, height 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease, font-size 0.5s ease, transform 0.5s ease;
}

.shop-btn:hover{
    background-color: var(--main-color) ;
    box-shadow: var(--second-boxshadow);
    width: 180px;
    height: 60px;
    font-size: 20px ;
    transform: translateY(-5px);
}

.slider-item h1{
    font-family: montserrat;
    position: relative;
    bottom: 140px;
    text-shadow: 3px 3px 3px black;

}